<div class="contact-container">

  <h2>Contact info</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis ultrices diam et cursus. In ac mi id nulla consequat varius. Fusce vel ipsum ac magna malesuada aliquet. Aliquam ut leo arcu. Sed ut hendrerit mi. Maecenas finibus, sem non fermentum elementum, felis neque maximus mauris, ac consectetur tellus risus sit amet quam. Aliquam at nisi tempor odio vulputate facilisis in nec ligula. Phasellus at consequat lorem.

    Donec iaculis pellentesque ullamcorper. Cras sit amet faucibus orci. Phasellus accumsan fermentum diam, non mollis ipsum ultrices ut. Sed semper aliquet nunc tincidunt tempus. Nulla eu rutrum odio. Integer congue porta nulla. Nam viverra vel turpis vitae rutrum. Nam sit amet eros purus. Nulla accumsan auctor justo a placerat.</p>
</div>
