<div class="about-container">
    <h1>Trabalho realizado pelo <span>Grupo 30:</span></h1>
    <h2>
        <ul>
            <li>Nikhil Ravin <span>n° 53674</span></li>
            <li>Jo&atilde;o Pena  <span>n° 54477</span></li>
            <li>Henrique Lopes  <span>n° 52840</span></li>
            <li>Guilherme Garrilha  <span>n° 53838</span></li>
            <li>Gonçalo Domingues  <span>n° 46451</span></li>
            <li>Ezequiel Barreira  <span>n° 44768</span></li>
        </ul>
    </h2>

    <div class="class__admin-accounts">
        <h2>Admin account:</h2>
        <h4>Username: <span>admin001</span></h4>
        <h4>Password: <span>Admin001</span></h4>
    </div>
</div>
