<div class="form-container">
  <form class="email-form" (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="email-form__alert error" [hidden]="email.valid || email.pristine || !email.value">
      Please insert a valid email
    </div>
    <div class="email-form__alert" *ngIf="isSubmitted" [hidden]="!email.pristine">
      Thank you for subscribing
    </div>
    <label class="email-form__label" for="email" type="email">Insert email</label>
    <input class="email-form__input form-control" type="email" name="email" required [ngModel]="emailToSubmit" email id="email" #email="ngModel" placeholder="Enter your email"/>
    <button class="email-form__button default-button" type="submit" [disabled]="!emailForm.form.valid" (click)="onSubmit(); emailForm.reset()">Submit</button>
  </form>
</div>
