.modal-content {
  background-color: var( --surface-color );
  border: 1px var( --primary-color ) solid;
}

.modal-header {
  color: var(--font-color-highlight);
}

.modal-body {
  background-color: var(--primary-color-variant-light);
  color: var(--font-color-on-primary);

}
