.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.email-form__label {
  position: absolute;
  text-indent: -9999px;
}

.email-form__input {
  width: 60%;
  height: 30px;
  font-size: 18px;
  margin-right: 5px;
  border-radius: 7px;
}

.email-form__alert {
  position: absolute;
  margin-bottom: 60px;
  z-index: 10;
  color: var( --font-color-highlight );
}

.email-form__button {
  height: 32px;
}
