<div class="about-container">
  <h1>This is the polish cow dancing song lyrics.</h1>
  <h2>
    Tylko jedno w głowie mam koksu pięć gram odlecieć sam W krainę za zapomnienia W głowie myśli mam kiedy skończy się ten stan Gdy już nie będę sam Bo wjedzie biały węgorz.
    <br><br>
    Tylko jedno w głowie mam koksu pięć gram odlecieć sam W krainę za zapomnienia W głowie myśli mam kiedy skończy się ten stan Gdy już nie będę sam Bo wjedzie biały węgorz.
    <br><br>
    Ja pierdole mam zjazd nie chwytam gwiazd jak kłoda leże nie wierze co się dzieje jak kura z głodu pieje jak wilkołak do księżyca W głowie dziury jak ulica przed twoją chatą rozpuszczam się jak baton który leży na blacie zejść jest jak nie wciągacie bracie kurwa ryj mi krzywi w głowie burdel jak w TV Mnie nie dziwi taki stan brak towar,w myślach ćpam rade dam albo nie dam wszystko kurwa z chaty sprzedam w sumie mam już przejebane wszystko jednak jest sprzedane Ja pierdole same długi kinol jak u tabalugi dzień drugi bez walenia gdzie jest wąż ? biała chemia. Jebane zejście tak wykańcza jak by w chuja dziabła cię szarańcza.
    <br><br>
    Tylko jedno w głowie mam koksu pięć gram odlecieć sam W krainę za zapomnienia W głowie myśli mam kiedy skończy się ten stan Gdy już nie będę sam Bo wjedzie biały węgorz.


  </h2>
</div>
