<footer class="footer">
  <img class="footer-image-overlay" src="assets/static/footer-farm.webp" alt="Overlay image of a farm.">

  <div class="footer--container">
    <div *ifMedia="MediaQuery.Min_width_768px" class="footer__first-column footer__column">
      <div class="footer__column__title">ABOUT US</div>
      <div class="footer__column__content">
      </div>
    </div>
    <div *ifMedia="MediaQuery.Min_width_768px" class="footer__second-column footer__column">
      <div class="footer__column__title">NEW PROJECTS</div>
      <div class="footer__column__links">content ></div>
    </div>
    <div *ifMedia="MediaQuery.Min_width_768px" class="footer__third-column footer__column">
      <div class="footer__column__title">NEW TASKS</div>
      <div class="footer__column__links">content ></div>
    </div>
    <div *ifMedia="MediaQuery.Min_width_768px" class="footer__fourth-column footer__column">
      <div class="footer__column__title">NAVIGATE</div>
      <div class="footer__column--navigate-container">
        <div class="footer__column__links">content ></div>
        <div class="footer__column__links">content ></div>
      </div>
    </div>
    <div class="footer__copyright-row">
      <span class="footer__copyright-row__logo">
        <img src="assets/icons/nav-brand.ico" alt="Brand icon.">
      </span>
      © {{ currentYear }} Big Black Cow, LSD
    </div>
    <div class="footer__navbar-row">
      <div class="footer__nav__column">
        <a *ngFor="let item of navItems" [href]="item.link" [routerLink]="item.routerLink">{{ item.title }}</a>
      </div>
      <div class="footer__nav__column">
        <a [href]="'/search'" [routerLink]="'search'">Search</a>
        <a [href]="'/sitemap'" [routerLink]="'sitemap'">Sitemap</a>
      </div>
    </div>
  </div>

  <app-footer-scroll-up-button></app-footer-scroll-up-button>
</footer>
