<div class="social-media">
  <div *ngIf="youtube" class="social-media__icon" id="social-media-icon-youtube">
    <a [href]="youtubeLink + youtube.link" target="_blank" rel="noopener" title="View {{ youtube.user }} on Youtube"><img src="/assets/icons/youtube.svg" alt="Youtube icon."></a>
  </div>
  <div *ngIf="twitter" class="social-media__icon">
    <a [href]="twitterLink + twitter.link" target="_blank" rel="noopener" title="View {{ twitter.user }} on Twitter"><img src="/assets/icons/twitter.svg" alt="Twitter icon."></a>
  </div>
  <div *ngIf="linkedIn" class="social-media__icon" id="social-media-icon-linkedin">
      <a [href]="linkedInLink + linkedIn.link" target="_blank" rel="noopener" title="View {{ linkedIn.user }} on Linkedin"><img src="/assets/icons/linkedin.svg" alt="LinkedIn icon."></a>
  </div>
</div>
