<h2>Create unavailable period</h2>

<form [formGroup]="unavailableTimeForm">
    <div class="project-form__group">
        <label for="project-form-name">Date</label>
        <input type="date" class="project-form__group__control form-control" id="project-form-name"
               formControlName="date"
               min="{{ todayDate | date:'yyyy-MM-dd' }}"
               [ngClass]="{'is-invalid': form['date'].errors &&
                                      (form['date'].touched || form['date'].dirty),
                         'is-valid': form['date'].valid }"
        >
    </div>

    <div class="alert alert-danger" [hidden]="form['date'].valid || form['date'].pristine">
        <div *ngIf="form['date'].errors?.['required']">Name is required</div>
    </div>

    <label for="project-form-start-date">Start Time</label>
    <div class="project-form__group input-group">
        <input class="project-form__group__start-date-control form-control" id="project-form-start-date"
               formControlName="startTime"
               (keydown.enter)="form['startTime'].enabled"
               type="time"
               [ngClass]="{'is-invalid': (unavailableTimeForm.getError('startTimeError') || form['startTime'].errors) && (form['startTime'].touched || form['startTime'].dirty), 'is-valid': form['startTime'].valid}"
        >

    </div>

    <div class="alert alert-danger" [hidden]="(!unavailableTimeForm.hasError('startTimeError') && form['startTime'].valid) || form['startTime'].pristine">
        <div *ngIf="form['startTime'].errors?.['required']">Start time is required</div>
        <div *ngIf="unavailableTimeForm.hasError('startTimeError')">Start time must be after the current time</div>
    </div>

    <label for="project-form-end-date">End Time</label>
    <div class="project-form__group input-group">
        <input class="project-form__group__start-date-control form-control" id="project-form-end-date"
               formControlName="endTime"
               type="time"
               [ngClass]="{'is-invalid': (unavailableTimeForm.getError('times') || form['endTime'].errors) && (form['endTime'].touched || form['endTime'].dirty), 'is-valid': form['endTime'].valid}"
        >
    </div>

    <div class="alert alert-danger" [hidden]="!unavailableTimeForm.hasError('times') || form['endTime'].pristine">
        <div *ngIf="form['endTime'].errors?.['required']">End time is required</div>
        <div *ngIf="unavailableTimeForm.hasError('times')">End time must be after start time</div>
    </div>

    <div class="project-form__submit-button--container">
        <button type="submit" class="project-form__submit-button default-button"
                [disabled]="!unavailableTimeForm.valid"
                (click)="onUnavailableTimeSubmit()"
        >
            Create
        </button>
    </div>
</form>