<div class="home-container">
  <a class="blog-entry {{ i == 0 ? 'featured-blog' : '' }}" *ngFor="let blogEntry of blogEntries; let i = index"
     [attr.data-index]="i"
     href="{{uriPrefix + blogEntry.id}}" routerLink="{{uriPrefix + blogEntry.id}}">
    <div class="blog-entry__header">
      <img src="{{ blogEntry.img }}" alt="{{ blogEntry.imgAlt }}">
    </div>
    <div class="blog-entry__body">
      <div class="blog-entry__body--tags-container">
        <div class="blog-entry__body__tag date">
          <span class="tag-date-icon"></span>
          {{ blogEntry.date }}
        </div>
      </div>
      <div class="blog-entry__body__title">
        <span>{{ blogEntry.title }}</span>
      </div>
      <div class="blog-entry__body__summary">
        {{ blogEntry.summary }}
      </div>
    </div>
  </a>
</div>
