<script src="../../team-info/pages/team-info.component.ts"></script>
<div *ngIf="hasProject">
    <div class="model-info--container">

        <div class="model-info__headers">
            <h1>Project info</h1>
        </div>
        <div class="model-info__content">
            <div class="model-info__property">
                <div class="model-info__property__key">
                    acronym:
                </div>
                <div class="model-info__property__value">
                    {{  project.acronym  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    name:
                </div>
                <div class="model-info__property__value">
                    {{  project.name  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    startDate:
                </div>
                <div class="model-info__property__value">
                    {{  project.startDate | date  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    endDate:
                </div>
                <div class="model-info__property__value">
                    {{  (project.endDate | date) || "N/A"  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    tasks:
                </div>
                <div class="model-info__property__value">
                    {{ project.tasks.length > 0 ? beautifyTasksSoPrettyWow( project.tasks) : "N/A"}}
                </div>
            </div>
        </div>

        <div class="model-info__operations">
            <button class="default-button model-info__operations__button" (click)="openSetTasksModal( setTasksModal )">
                Set tasks
            </button>
        </div>
    </div>

    <ng-template #setTasksModal let-modal>
        <div class="modal-header">
            <h2 class="modal-title">Set Tasks</h2>
        </div>
        <div class="modal-body">
            <section>
                <form [formGroup]="setTasksForm" novalidate>
                    <div class="modal-body__row" *ngFor="let task of tasks; let i=index">
                        <input class="modal-body__row__checkbox" type="checkbox" formArrayName="selectedTasks"
                               [value]="task._id"
                               (change)="onCheckboxChange($event)"
                               [checked]="projectTasksIncludesTask( this.project.tasks, task )"
                        />
                        <div class="modal-body__row__text">{{ task.name}}</div>
                    </div>
                </form>
            </section>
            <h4 *ngIf="tasks.length === 0" style="text-align: center">There's no available task created by the members of this project's team</h4>
        </div>
        <div class="modal-footer">
            <button class="default-button" type="submit" (keydown.enter)="setTasksSubmit()"
                    (click)="setTasksSubmit();modal.close('Close click')">Submit
            </button>
            <button type="button" class="default-button modal-footer__close-btn" (click)="modal.close('Close click')">
                Close
            </button>
        </div>
    </ng-template>
</div>

