.login-form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login__header {
  width: 40%;
  display: table;
  table-layout: fixed;
  user-select: none;
}

.login__title {
  direction: ltr;
  margin-block-end: -2rem;
}

.login__subtitle {
  direction: rtl;
  color: var( --secondary-color );
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  .login__header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
  }

  .login__title {
    margin-block-end: -1rem;
  }

  .login-form--container {
    display: block;
    width: auto;
    margin: 1rem;
  }
}

.login-form__title {
  text-align: center;
}

.login-form__group {
  width: 100%;
  margin-bottom: 1rem;
}

.login-form__submit-button--container {
  display: flex;
  justify-content: center;
}

.login-form__submit-button {
  width: 100%;
  text-align: center;
}

.input-group-text {
  height: 100%;
  cursor: pointer;
}

.register-anchor {
  color: var( --font-color-default );
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.register-anchor:hover {
  color: var( --font-color-highlight );
}

.app-alert-wrapper {
  margin-top: 1rem;
}

