.transparent-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.default-button {
  background-color: var( --secondary-color );
  color: var( --font-color-on-secondary );
  border-radius: 7px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.default-button:disabled {
  opacity: .4;
  cursor: default;
}

