<div class="calendar--container">
    <h1 *ngIf="username !== sessionUser?.username; else isSessionUser" class="calendar__title">
        User&nbsp;<span>{{username}}</span>&nbsp;Agenda</h1>
    <ng-template #isSessionUser>
        <h1 class="calendar__title">My&nbsp;Agenda</h1>
    </ng-template>
    <div class="page__head--container">
        <h2 class="calendar__view-date">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
        <div *ngIf="username === sessionUser?.username">
            <ng-template #content2 let-offcanvas2>
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvas-basic-title">Agenda Dashboard</h3>
                    <button type="button" class="btn-close btn-close-white" aria-label="Close"
                            (click)="offcanvas2.dismiss()"></button>
                </div>
                <div class="offcanvas-body">
                    <app-user-meeting-dashboard (hasSubmitted)="reload()"></app-user-meeting-dashboard>
                    <div class="app-alert-wrapper">
                        <app-alert id="alert-project-form" [isOnlyOne]="true"></app-alert>
                    </div>
                </div>
            </ng-template>
            <button class="btn-lg default-button offcanvas-button" (click)="openOffCanvas(content2)">
                Create user meeting
            </button>
        </div>
    </div>

    <div class="row text-center">
        <div class="calendar__date-radio">
            <div class="calendar__button-group">
                <div
                        class="default-button calendar__button_date"
                        tabindex="0"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                >
                    Previous
                </div>
                <div
                        class="default-button calendar__button_date"
                        mwlCalendarToday
                        tabindex="0"
                        [(viewDate)]="viewDate"
                >
                    Today
                </div>
                <div
                        class="default-button calendar__button_date"
                        mwlCalendarNextView
                        tabindex="0"
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                >
                    Next
                </div>
            </div>
            <mat-radio-group class="overview__buttons--group" [(ngModel)]="view">
                <div class="overview__buttons__radio">
                    <mat-radio-button class="overview__buttons__btn"
                                      tabindex="0"
                                      (click)="setView(CalendarView.Month)"
                                      [value]="CalendarView.Month"
                                      [class.active]="view === CalendarView.Month"
                    >
                        Month
                    </mat-radio-button>
                    <mat-radio-button class="overview__buttons__btn"
                                      tabindex="0"
                                      (click)="setView(CalendarView.Week)"
                                      [value]="CalendarView.Week"
                                      [class.active]="view === CalendarView.Week"
                    >
                        Week
                    </mat-radio-button>
                    <mat-radio-button class="overview__buttons__btn"
                                      tabindex="0"
                                      (click)="setView(CalendarView.Day)"
                                      [value]="CalendarView.Day"
                                      [class.active]="view === CalendarView.Day"
                    >
                        Day
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
    <br/>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
    </div>

    <div *ngIf="username === sessionUser?.username">
        <br/><br/><br/>

        <div class="page__head--container">
        <h2>
            Edit unavailability periods
            <div class="clearfix"></div>
        </h2>

            <div *ngIf="username === sessionUser?.username">
                <ng-template #content let-offcanvas>
                    <div class="offcanvas-header">
                        <h3 class="offcanvas-title" id="offcanvas-basic-title2">Agenda Dashboard</h3>
                        <button type="button" class="btn-close btn-close-white" aria-label="Close"
                                (click)="offcanvas.dismiss()"></button>
                    </div>
                    <div class="offcanvas-body">
                        <app-user-agenda-dashboard (hasSubmitted)="reload()"></app-user-agenda-dashboard>
                        <div class="app-alert-wrapper">
                            <app-alert id="alert-project-form2" [isOnlyOne]="true"></app-alert>
                        </div>
                    </div>
                </ng-template>
                <button class="btn-lg default-button offcanvas-button" (click)="openOffCanvas(content)">
                    Create unavailable period
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered edit-table">
                <thead class="edit-table__head">
                <tr>
                    <th>Date</th>
                    <th>Starts at</th>
                    <th>Ends at</th>
                    <th>Primary color</th>
                    <th>Secondary color</th>
                    <th>Remove</th>
                </tr>
                </thead>

                <tbody class="edit-table__body">
                <tr *ngFor="let event of unavailablePeriodEvent()">
                    <td class="edit-table__body__column">
                        <input
                                class="form-control"
                                value="{{ event.start | date: 'yyyy-MM-dd' }}"
                                type="date"
                                placeholder="Not set"
                        />
                    </td>
                    <td class="edit-table__body__column">
                        <input
                                class="form-control"
                                type="time"
                                value="{{ event.start | date: 'HH:MM' }}"
                                placeholder="Not set"
                        />
                    </td>
                    <td class="edit-table__body__column">
                        <input
                                class="form-control"
                                type="time"
                                value="{{ event.end | date: 'HH:MM' }}"
                                placeholder="Not set"
                        />
                    </td>
                    <td class="edit-table__body__column">
                        <input
                                type="color"
                                [(ngModel)]="event.color!.primary"
                                (change)="saveColor( event, event.color!.primary, true );"
                        />
                    </td>
                    <td class="edit-table__body__column">
                        <input
                                type="color"
                                [(ngModel)]="event.color!.secondary"
                                (change)="saveColor( event, event.color!.secondary, false );"
                        />
                    </td>
                    <td class="edit-table__body__column">
                        <button class="btn btn-danger edit-table__body__column__delete-btn" (click)="deleteEvent(event)">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <ng-template #modalContent let-close="close">
            <div class="modal-header">
                <h5 class="modal-title">Event action occurred</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Action:
                    <pre>{{ modalData?.action }}</pre>
                </div>
                <div>
                    Event:
                    <pre>{{ modalData?.event | json }}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">
                    OK
                </button>
            </div>
        </ng-template>
    </div>
</div>
