<p>Create new task</p>
<form>
    <label for="name">Task name:</label><br>
    <input type="text" id="name" #taskName><br>
    <select name="dropdownOption" id="dropdownOption" (change)="selectChangeHandler($event)">
      <option value="baixa">baixa</option>
      <option value="media">média</option>
      <option value="alta">alta</option>
      <option value="urgente">urgente</option>
    </select>
    <br>
    <button type="button" (click)="addTask(taskName.value)" >Create task</button>
    <br>
    <button type="button" (click)="deleteTask(taskName.value)" >Delete task</button>
  </form>

  