<p>Create new task</p>
<form>
    <label for="name">Task name:</label><br>
    <input type="text" id="name"><br>
    <label for="lname">Priority:</label><br>
    <input type="radio" id="baixa" name="urgency">
    <label for="baixa">baixa</label>
    <input type="radio" id="media" name="urgency">
    <label for="media">média</label>
    <input type="radio" id="alta" name="urgency">
    <label for="alta">alta</label>
    <input type="radio" id="urgente" name="urgency">
    <label for="urgente">urgente</label> 
  </form> 
<button> Create new task </button>
