<div class="add-task-form--container">
    <form [formGroup]="addTaskForm">
        <h2>Create a new task</h2>

        <div class="add-task-form__group">
            <label for="task-form-name">Name</label>
            <input type="text" class="add-task-form__group__control form-control" id="task-form-name"
                   formControlName="name"
                   [ngClass]="{'is-invalid': form['name'].errors &&
                                    (form['name'].touched || form['name'].dirty),
                       'is-valid': form['name'].valid }"
            >
        </div>

        <div class="alert alert-danger" [hidden]="form['name'].valid || form['name'].pristine">
            <div *ngIf="form['name'].errors?.['required']">Name is required</div>
            <div *ngIf="form['name'].errors?.['minlength']">Name must be at least 4 characters</div>
            <div *ngIf="form['name'].errors?.['pattern']">Only alphanumeric characters are allowed</div>
        </div>

        <label for="add-task-priority-dropdown">Priority</label>
        <select class="add-task-form__group form-select" name="dropdownOption" id="add-task-priority-dropdown"
                (change)="selectChangeHandler($event)"
                formControlName="priority">
            <option value="BAIXA">Baixa</option>
            <option value="MEDIA">Média</option>
            <option value="ALTA">Alta</option>
            <option value="URGENTE">Urgente</option>
        </select>

        <label for="add-task-form-start-date">Start Date/Time</label>
        <div class="add-task-form__group input-group">
            <input class="add-task-form__group__start-date-control form-control" id="add-task-form-start-date"
                   formControlName="startDate"
                   (keydown.enter)="form['startDate'].enabled"
                   type="date"
                   min="{{todayDate | date:'yyyy-MM-dd'}}"
                   [ngClass]="{'is-invalid': ( form['startDate'].errors || addTaskForm.hasError('dates3')) && (form['startDate'].touched || form['startDate'].dirty), 'is-valid': form['startDate'].valid}"
            >
    
        </div>
    
        <div class="alert alert-danger" [hidden]="( form['startDate'].valid && !this.addTaskForm.hasError('dates3') ) || form['startDate'].pristine">
            <div *ngIf="form['startDate'].errors?.['required']">Date is required</div>
            <div *ngIf="addTaskForm.hasError('dates3')">Date/time must be after current moment </div>
        </div>
    
        <label for="add-task-form-end-date">End Date/Time</label>
        <div class="add-task-form__group input-group">
            <input class="add-task-form__group__start-date-control form-control" id="add-task-form-end-date"
                   formControlName="endDate"
                   type="date"
                   [ngClass]="{'is-invalid': (addTaskForm.hasError('dates') || addTaskForm.hasError('dates2') || form['endDate'].errors) && (form['endDate'].touched || form['endDate'].dirty), 'is-valid': form['endDate'].valid}"
            >
    
        </div>

        <div class="alert alert-danger" [hidden]="(!addTaskForm.hasError('dates') && !addTaskForm.hasError( 'dates2') ) || form['endDate'].pristine">
            <div *ngIf="addTaskForm.hasError('dates')">End date/time must be after start date/time</div>
            <div *ngIf="addTaskForm.hasError('dates2')">Date/time must be after current moment </div>
        </div>

        <div class="add-task-form__submit-button--container">
            <button type="submit" class="add-task-form__submit-button default-button"
                    [disabled]="!addTaskForm.valid"
                    (click)="onSubmitAddTask()"
            >
                Create Task
            </button>
            <p *ngIf="showCreate">Task created</p>
        </div>

    </form>

    <div class="app-alert-wrapper">
        <app-alert id="alert-task-form" [isOnlyOne]="true"></app-alert>
    </div>

</div>
  