<div class="blog--container">
  <div class="blog__header">
    <div class="blog__header__date">{{ test.date }}</div>
    <h1 class="blog__header__title">{{ test.title }}</h1>
    <div class="blog__header__summary">{{ test.summary }}</div>
  </div>
  <div class="blog__section-block">
    <div class="blog__section-block__header">
      <div class="blog__section-block__header__title">{{ test.sectionTitle }}</div>
      <div class="blog__section-block__header__subtitle">{{ test.sectionSubtitle }}</div>
    </div>
    <div class="blog__section-block__content">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed dolor eget enim tempus eleifend id in turpis. Duis luctus, dolor non eleifend vulputate, erat metus tincidunt urna, vel dignissim dolor risus sit amet lacus. Cras suscipit metus id quam aliquam lobortis. Sed ex erat, mattis non nisl at, lobortis euismod arcu. Vestibulum vehicula nunc nibh. Pellentesque a quam viverra, tempor libero non, tincidunt nisl. Vestibulum eu pulvinar mi. Cras tempor dui interdum elit vehicula tincidunt. </p>
      <p> Vivamus ut nibh malesuada, rhoncus nibh quis, convallis tortor. Nulla id purus lectus. Fusce viverra dui sit amet blandit gravida. Nunc eu elit vel nisl venenatis faucibus. Nam ligula velit, ultricies vel ex quis, elementum viverra tortor. Quisque ac tempus tellus, id ultrices tellus. Phasellus molestie enim consectetur nisi tincidunt congue non vitae purus. Ut elementum fringilla lectus, at vestibulum augue eleifend eget. Phasellus auctor dignissim ligula eu dignissim. Mauris tempor risus quis sagittis fermentum. Morbi mi odio, vulputate sed faucibus eu, hendrerit eu elit. Nam iaculis tortor non nibh blandit, vitae mattis magna viverra. Curabitur volutpat ipsum lectus, et aliquet eros vulputate vitae. Aenean vel pharetra urna. </p>
      <img src="assets/images/blog-test-image.webp"/>
      <p>Sed ullamcorper at quam ullamcorper pretium. Nam ullamcorper velit aliquam ligula rutrum aliquet. Aenean sed arcu cursus, vestibulum elit id, eleifend lectus. Nam sit amet ante tincidunt, consectetur nisl malesuada, pulvinar tortor. In hac habitasse platea dictumst. Quisque varius vulputate leo eu fringilla. Phasellus eget ante dolor. Suspendisse dictum, felis non sodales egestas, massa risus viverra diam, euismod vehicula nulla dui condimentum ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc at ultricies erat, vel vehicula tortor. Sed id ligula tellus. Nunc cursus, augue ut posuere volutpat, velit sem malesuada quam, ut fringilla felis dui ac dolor. Integer nec tincidunt enim. Suspendisse potenti. </p>
    </div>
  </div>
</div>
