<div *ngIf="hasTask">
    <div class="model-info--container">

        <div class="model-info__headers">
            <h1>Task info</h1>
        </div>
        <div class="model-info__content">
            <div class="model-info__property">
                <div class="model-info__property__key">
                    name:
                </div>
                <div class="model-info__property__value">
                    {{  task.name  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    priority:
                </div>
                <div class="model-info__property__value">
                    {{  task.priority  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    percentage:
                </div>
                <div class="model-info__property__value">
                    {{  task.percentage }}%
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    created by:
                </div>
                <div class="model-info__property__value">
                    {{  task.madeByUser  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    users:
                </div>
                <div class="model-info__property__value">
                    {{ task.users.length > 0 ? task.users : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    start date/time:
                </div>
                <div class="model-info__property__value">
                    {{ task.startDate ? (task.startDate | date:'long') : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    end date/time:
                </div>
                <div class="model-info__property__value">
                    {{ task.endDate ? (task.endDate | date:'long') : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    checklist:
                </div>
                <div class="model-info__property__value">
                    <div class="model-info__property__checklist" *ngIf="task.checklist.length > 0; else noChecklist">
                        <div class="model-info__property__checklist__check" *ngFor="let check of this.task.checklist">
                            <input type="checkbox" value="{{ check.isComplete }}" name="{{ check.name }}" [checked]="check.isComplete" (change)="check.isComplete = onChecklistChange( $event, check )"> <span> {{ check.name }} </span>
                        </div>
                    </div>
                    <ng-template #noChecklist>
                        "N/A"
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="model-info__operations">
            <button class="default-button model-info__operations__button" (click)="openSetUsersModal( setUsersModal )">
                Set users
            </button>
            <button class="default-button model-info__operations__button"
                    (click)="openAddChecklistItemModal( addChecklistItemModal )">Add checklist item
            </button>
            <button class="default-button model-info__operations__button"
                    (click)="openChangeDateModal( updatePercentageModal ); changeDateForm.reset()"> Update percentage
            </button>
            <button class="default-button model-info__operations__button"
                    (click)="openChangeDateModal( changeDateModal ); changeDateForm.reset()"> Change dates
            </button>
            <button class="default-button model-info__operations__button" (click)="openModalSimple(  )">Delete</button>
        </div>
    </div>
</div>


<ng-template #setUsersModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set Users</h2>
    </div>
    <div class="modal-body">
        <section>
            <form [formGroup]="setUsersForm" novalidate>
                <div class="modal-body__row" *ngFor="let user of users; let i=index">
                    <input class="modal-body__row__checkbox" type="checkbox" formArrayName="selectedUsers"
                           [value]="user.username"
                           (change)="onCheckboxChange( $event )" [checked]="task.users.includes( user.username )"
                    />
                    <div class="modal-body__row__text">{{ user.username }}</div>
                </div>
            </form>
        </section>
    </div>
    <div class="modal-footer">
        <button class="default-button" type="submit" (keydown.enter)="setUsersSubmit()"
                (click)="setUsersSubmit();modal.close('Close click')">Save
        </button>
        <button type="button" class="default-button modal-footer__close-btn" (click)="modal.close('Close click')">
            Close
        </button>
    </div>
</ng-template>

<ng-template #updatePercentageModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set percentage</h2>
    </div>
    <div class="modal-body">
        <section>
            <form [formGroup]="updatePercentageForm" novalidate>
                <div class="update-percentge-form__group">
                    <label for="update-percentage-item-form-percentage2"> New percentage: </label>
                    <input type="text" class="update-percentage-item-form__group__control form-control"
                           id="update-percentage-item-form-percentage2"
                           formControlName="percentage"
                           [ngClass]="{'is-invalid': form3['percentage'].errors &&
                                        (form3['percentage'].touched || form3['percentage'].dirty),
                        'is-valid': form3['percentage'].valid && !this.updatePercentageForm.hasError('between')}"
                    >
                </div>

                <div class="alert alert-danger" [hidden]="form3['percentage'].valid && !this.updatePercentageForm.hasError('between') || form3['percentage'].pristine">
                    <div *ngIf="form3['percentage'].errors?.['required']">Percentage is required</div>
                    <div *ngIf="form3['percentage'].errors?.['pattern']">Only numbers allowed</div>
                    <div *ngIf="form3['percentage'].errors?.['maxlength']">Max 3 digits allowed</div>
                    <div *ngIf="updatePercentageForm.hasError('between')">Percentage should be between 0% and 100%</div>
                </div>

            </form>
        </section>
    </div>
    <div class="modal-footer">
        <button class="default-button" type="submit" (keydown.enter)="updatePercentageSubmit()" [disabled]="!updatePercentageForm.valid"
                (click)="updatePercentageSubmit();modal.close('Close click')">Save
        </button>
        <button type="button" class="default-button modal-footer__close-btn" (click)="modal.close('Close click')">
            Close
        </button>
    </div>
</ng-template>

<ng-template #addChecklistItemModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Add checklist Item</h2>
    </div>
    <div class="modal-body">
        <section>
            <form [formGroup]="addChecklistItemForm">
                <div class="add-checklistItem-form__group">
                    <label for="add-checklist-item-form-name">Name</label>
                    <input type="text" class="add-checklist-item-form__group__control form-control"
                           id="add-checklist-item-form-name"
                           formControlName="name"
                           [ngClass]="{'is-invalid': form['name'].errors &&
                                        (form['name'].touched || form['name'].dirty),
                        'is-valid': form['name'].valid }"
                    >
                </div>

                <div class="alert alert-danger" [hidden]="form['name'].valid || form['name'].pristine">
                    <div *ngIf="form['name'].errors?.['required']">Name is required</div>
                    <div *ngIf="form['name'].errors?.['minlength']">Name must be at least 4 characters</div>
                    <div *ngIf="form['name'].errors?.['pattern']">Only alphanumeric characters are allowed</div>
                </div>
            </form>
        </section>
    </div>
    <div class="modal-footer">
        <button class="default-button" type="submit" (keydown.enter)="addChecklistItemSubmit()"
                (click)="addChecklistItemSubmit();modal.close('Close click')" [disabled]="!addChecklistItemForm.valid">Add
        </button>
        <button type="button" class="default-button modal-footer__close-btn" (click)="modal.close('Close click')">
            Close
        </button>
    </div>
</ng-template>

<ng-template #changeDateModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Change start/end date</h2>
    </div>
    <div class="modal-body">
        <section>
            <form [formGroup]="changeDateForm">
                <label for="change-form-start-date">Start Date/Time</label>
                <div class="change-form__group input-group">
                    <input class="change-form__group__start-date-control form-control" id="change-form-start-date"
                           formControlName="startDate"
                           (keydown.enter)="form2['startDate'].enabled"
                           type="datetime-local"
                           min="{{todayDate | date:'yyyy-MM-dd'}}"

                           [ngClass]="{'is-invalid': ( form2['startDate'].errors || changeDateForm.hasError('dates3')) && (form2['startDate'].touched || form2['startDate'].dirty), 'is-valid': form2['startDate'].valid}"
                    ></div>

                <div class="alert alert-danger"
                     [hidden]="( form2['startDate'].valid && !this.changeDateForm.hasError('dates3') ) || form2['startDate'].pristine">
                    <div *ngIf="form2['startDate'].errors?.['required']">Date is required</div>
                    <div *ngIf="changeDateForm.hasError('dates3')">Date/time must be after current moment</div>
                </div>

                <label for="change-form-end-date">End Date/Time</label>
                <div class="change-form__group input-group">
                    <input class="change-form__group__start-date-control form-control" id="change-form-end-date"
                           formControlName="endDate"
                           type="datetime-local"
                           [ngClass]="{'is-invalid': (changeDateForm.hasError('dates') || changeDateForm.hasError('dates2') || form2['endDate'].errors) && (form2['endDate'].touched || form2['endDate'].dirty), 'is-valid': form2['endDate'].valid}"
                    ></div>

                    <div class="alert alert-danger" [hidden]="(!changeDateForm.hasError('dates') && !changeDateForm.hasError( 'dates2') ) || form2['endDate'].pristine">
                        <div *ngIf="changeDateForm.hasError('dates')">End date/time must be after start date/time</div>
                        <div *ngIf="changeDateForm.hasError('dates2')">Date/time must be after current moment </div>
                    </div>
            </form>
        </section>
    </div>
    <div class="modal-footer">
        <button class="default-button" type="submit" [disabled]="!changeDateForm.valid"
                (keydown.enter)="changeDateSubmit()" (click)="changeDateSubmit();modal.close('Close click')">Change Date
        </button>
        <button type="button" class="default-button modal-footer__close-btn" (click)="modal.close('Close click')">
            Close
        </button>
    </div>
</ng-template>


<!-- <ng-template #setProjectModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set project</h2>
    </div>
    <div class="modal-body">

        <form [formGroup]="setProjectForm">

            <label for="task-set-project-dropdown">Project</label>
            <select class="change-form__group form-select" name="dropdownOption" id="task-set-project-dropdown"
                    (change)="selectChangeHandler($event)"
                    formControlName="project">
                <option *ngFor="let project of projects" [value]="project.acronym">{{ project.name + ( project.tasks.includes( this.task._id ) ? "Task present. Select to remove." : "" )}}</option>
            </select>

            <div class="alert alert-danger" [hidden]="form['project'].valid || form['project'].pristine">
                <div *ngIf="form['project'].errors?.['required']">Id is required</div>
            </div>

            <div class="change-form__submit-button--container">
                <button type="submit" class="change-form__submit-button default-button"
                        [disabled]="!setProjectForm.valid"
                        (click)="setProjectSubmit()"
                        (keydown.enter)="setProjectSubmit()"
                >
                    Select
                </button>
            </div>
        </form>

        <div class="app-alert-wrapper">
            <app-alert id="alert-task-delete-form" [isOnlyOne]="true"></app-alert>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="default-button" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template> -->

