<div *ngIf="hasTask">
    <div class="model-info--container">

        <div class="model-info__headers">
            <h1>Task info</h1>
        </div>
        <div class="model-info__content">
            <div class="model-info__property">
                <div class="model-info__property__key">
                    name:
                </div>
                <div class="model-info__property__value">
                    {{  task.name  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    priority:
                </div>
                <div class="model-info__property__value">
                    {{  task.priority  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    percentage:
                </div>
                <div class="model-info__property__value">
                    {{  task.percentage  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    created by:
                </div>
                <div class="model-info__property__value">
                    {{  task.madeByUser  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    users:
                </div>
                <div class="model-info__property__value">
                    {{ task.users.length > 0 ? task.users : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    start date/time:
                </div>
                <div class="model-info__property__value">
                    {{ task.startDate ? task.startDate : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    end date/time:
                </div>
                <div class="model-info__property__value">
                    {{ task.endDate ? task.endDate : "N/A" }}
                </div>
            </div>
        </div>
        <div class="model-info__operations">
            <button class="default-button model-info__operations__button" (click)="openSetUsersModal( setUsersModal )">
                Set users
            </button>
            <button class="default-button model-info__operations__button"
                    (click)="openSetProjectsModal( setProjectModal )">Set project
            </button>
            <button class="default-button model-info__operations__button" (click)="openModalSimple(  )">Delete</button>
        </div>
    </div>
</div>


<ng-template #setUsersModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set Users</h2>
    </div>
    <div class="modal-body">
        <section>
            <form [formGroup]="setUsersForm" novalidate>
                <div class="modal-body__row" *ngFor="let user of users; let i=index">
                    <input class="modal-body__row__checkbox"  type="checkbox" formArrayName="selectedUsers" [value]="user.username"
                           (change)="onCheckboxChange($event)" [checked]="task.users.includes( user.username )"
                    />
                    <div class="modal-body__row__text" >{{ user.username }}</div>
                </div>
            </form>
        </section>
    </div>
    <div class="modal-footer">
        <button class="default-button" type="submit" (keydown.enter)="setUsersSubmit()" (click)="setUsersSubmit();modal.close('Close click')">Save</button>
        <button type="button" class="default-button modal-footer__close-btn" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #setProjectModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set project</h2>
    </div>
    <div class="modal-body">

        <form [formGroup]="setProjectForm">

            <label for="task-set-project-dropdown">Project</label>
            <select class="add-task-form__group form-select" name="dropdownOption" id="task-set-project-dropdown"
                    (change)="selectChangeHandler($event)"
                    formControlName="project">
                <option *ngFor="let project of projects" [value]="project.acronym">{{ project.name + ( project.tasks.includes( this.task._id ) ? "Task present. Select to remove." : "" )}}</option>
            </select>

            <div class="alert alert-danger" [hidden]="form['project'].valid || form['project'].pristine">
                <div *ngIf="form['project'].errors?.['required']">Id is required</div>
            </div>

            <div class="add-task-form__submit-button--container">
                <button type="submit" class="add-task-form__submit-button default-button"
                        [disabled]="!setProjectForm.valid"
                        (click)="setProjectSubmit()"
                        (keydown.enter)="setProjectSubmit()"
                >
                    Select
                </button>
            </div>
        </form>

        <div class="app-alert-wrapper">
            <app-alert id="alert-task-delete-form" [isOnlyOne]="true"></app-alert>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="default-button" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

