.model-info--container {
    display: flex;
    flex-direction: column;
}

.model-info__headers {
    text-align: center;
}

.model-info__content {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background-color);
    padding: 2rem;
    border-radius: 20px;
}

.model-info__property {
    display: flex;
    align-items: baseline;
}

.model-info__property__key {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: var(--font-color-highlight);
}

.model-info__property__value {
    font-size: 1.2rem;
}

.model-info__operations {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin-bottom: 6rem;
}

.model-info__operations__button {
    width: 17.5%;
    height: 3rem;
}

@media (max-width: 991.98px) {

    .model-info--container {
        width: 90vw;
    }

    .model-info__operations {
        flex-direction: column;
    }

    .model-info__operations__button {
        width: 90vw;
        margin-top: 1rem;
    }
}

.modal-header {
    display: block;
    text-align: center;
    margin-bottom: -1rem;
}

.modal-footer {
}

.modal-title {
    font-size: 2rem;
    color: var(--font-color-highlight);
}

.modal-header, .modal-body, .modal-footer {
    background-color: var( --surface-color );
    border: none;
    padding: 2rem;
}

.modal-footer button {
    width: 100%;
    height: 40px;
}

.modal-footer button:focus {
    border: white;
}

.modal-body__row {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    align-items: center;
}

.modal-body__row__text {
    margin-left: 1rem;
    font-size: 1.3rem;
}

.modal-body__row__checkbox {
}

.modal-footer__close-btn {
    background-color: var(--bs-red);
}

.modal-footer__close-btn:hover {
    background-color: var( --error-color);
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

.modal-body {
    background-color: var( --surface-color );
    border: none;
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0;
}

.modal-body::-webkit-scrollbar {
    width: 1em;
}

.modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: var( --primary-color-variant-dark );
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: var( --primary-color );
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: var( --secondary-color );
}

.model-info__property__checklist__check span {
    margin-left: 0.7rem;
}

