<div *ngIf="hasTask">
    <div class="model-info--container">

        <div class="model-info__headers">
            <h1>Task info</h1>
        </div>
        <div class="model-info__content">
            <div class="model-info__property">
                <div class="model-info__property__key">
                    _id:
                </div>
                <div class="model-info__property__value">
                    {{  task._id  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    name:
                </div>
                <div class="model-info__property__value">
                    {{  task.name  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    priority:
                </div>
                <div class="model-info__property__value">
                    {{  task.priority  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    percentage:
                </div>
                <div class="model-info__property__value">
                    {{  task.percentage  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    created by:
                </div>
                <div class="model-info__property__value">
                    {{  task.madeByUser  }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    users:
                </div>
                <div class="model-info__property__value">
                    {{ task.users.length > 0 ? task.users : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    start date:
                </div>
                <div class="model-info__property__value">
                    {{ task.startDate ? task.startDate : "N/A" }}
                </div>
            </div>
            <div class="model-info__property">
                <div class="model-info__property__key">
                    end date:
                </div>
                <div class="model-info__property__value">
                    {{ task.endDate ? task.endDate : "N/A" }}
                </div>
            </div>
        </div>
        <div class="model-info__operations">
            <button class="default-button model-info__operations__button" (click)="openSetUsersModal( setUsersModal )">Set users</button>
            <button class="default-button model-info__operations__button" (click)="openSetProjectsModal( setProjectModal )">Set project</button>
            <button class="default-button model-info__operations__button" (click)="openModalSimple(  )">Delete</button>
        </div>
    </div>
</div>


<ng-template #setUsersModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set Users</h2>
    </div>
    <div class="modal-body">
        <app-set-users-to-task-form [users]="users" [task]="task" (taskChange)="update($event)"></app-set-users-to-task-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="default-button" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #setProjectModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Set project</h2>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="default-button" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

