

<div *ngIf="task">
    <h1>Task information</h1>
    <h2>Task: {{task.name}}</h2>
    <div><span>id: </span>{{task._id}}</div>
    <div><span>madeBy: </span>{{task.madeByUser}}</div>
    <div><span>priority: </span>{{task.priority}}</div>
    <div><span>percentage: </span>{{task.percentage}} %</div>

    <div *ngIf="users">
        <ul>
            <li (click)="clickedUser(u)" *ngFor="let u of users">
                <a>User: {{u.username}}</a>
            </li>
        </ul>
        
        <div *ngIf="selected">
            {{selected.username}}
            <button type="submit" class="task-form__submit-button default-button"
              (click)="addUser()"
            >
                save user
            </button>
        </div>

    </div>

    <div *ngIf="!users">
        <span> Users: No users assigned to this task </span>
    </div>

</div>

<div *ngIf="!task"> 
    <h1>Task not found !</h1>
 </div>