<div class="teams--container">
    <div class="teams__head--container">
        <h1>Teams</h1>
        <div *ngIf="isSessionUserAdmin">
            <ng-template #content let-offcanvas>
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvas-basic-title">Create a new team</h3>
                    <button type="button" class="btn-close" aria-label="Close"
                            (click)="offcanvas.dismiss('Cross click')"></button>
                </div>
                <div class="offcanvas-body">
                    <app-add-team-form></app-add-team-form>
                </div>
            </ng-template>

            <button class="btn-lg default-button" (click)="openOffCanvas(content)">Add new team</button>
        </div>
    </div>

    <ngb-accordion class="accordion-wrapper" [closeOthers]="true" activeIds="static-1">
        <ngb-panel class="accordion__panel" id="static-1" title="Simple">
            <ng-template class="accordion__panel__template" ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel class="accordion__panel" id="static-2">
            <ng-template class="accordion__panel__template" ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel class="accordion__panel" id="static-3">
            <ng-template class="accordion__panel__template" ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
