.teams--container{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.teams__head--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page__head {
    width: 35%;
    display: table;
    table-layout: fixed;
    user-select: none;
}

.page__title {
    direction: ltr;
    margin-block-end: -2rem;
}

.page__subtitle {
    direction: rtl;
    color: var( --secondary-color );
}



.accordion--wrapper {

}

.accordion__panel {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .teams--container{
        width: 90vw;
    }
}