<div class="not-found--container">
  <div class='not-found__text--container'>
    <h1>404 Error</h1>
    <h2>Page Not Found</h2>
    <br>
    <div class='not-found__text__body'>
      <fa-icon class="not-found__text__body__fa-icon" [icon]="faArrowRotateRight" (click)="chooseRandomPhrase()"></fa-icon>
      <h3> {{ phrase }}</h3>
      <h5> {{ language }}</h5>
    </div>
  </div>

  <div class="not-found__image--wrapper">
    <img src="../../../../assets/static/not-found-page-image.webp" alt="Cow laughing at you.">
  </div>

</div>
